{% extends '../layout/base.html' %}
{% load static %}

    {% block 'preload' %} PMS {% endblock %}
     
    {% block 'bigHead' %} Dashboard {% endblock %}
    
    {% block 'main' %}
    <div class="row">
        <!-- Column -->
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card card-hover">
                <a href="sell" class="box bg-success text-center waves-effect waves-dark">
                    <h1 class="text-white">
                        <i class="mdi mdi-hand-coin"></i>
                    </h1>
                    <h6 class="text-white"> Sell </h6>
                </a>
            </div>
        </div>
        <!-- Column -->
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card card-hover">
                <a href="#sales-trand" class="smoothScroll box bg-success text-center">
                    <h1 class="text-white">
                        <i class="mdi mdi-chart-areaspline"></i>
                    </h1>
                    <h6 class="text-white"> Reports </h6>
                </a>
            </div>
        </div>
        <!-- Column -->
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card card-hover">
                <a href="stock" class="box bg-warning text-center waves-effect waves-dark">
                    <h1 class="text-white">
                        {{ out_of_stock_count }} <i class="mdi mdi-delete-empty"></i>
                    </h1>
                    <h6 class="text-white"> Out of stock </h6>
                </a>
            </div>
        </div>
        <!-- Column -->
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card card-hover">
                <a href="stock" class="box bg-danger text-center waves-effect waves-dark">
                    <h1 class="text-white">
                        {{ exipired_count }} <i class="mdi mdi-alert"></i>
                    </h1>
                    <h6 class="text-white"> Expiry </h6>
                </a>
            </div>
        </div>
        <!-- Column -->
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card card-hover">
                <a href="stock" class="box bg-info text-center waves-effect waves-dark">
                    <h1 class="text-white">
                        {{ stock_values|length }} <i class="mdi mdi-medical-bag"></i>
                    </h1>
                    <h6 class="text-white"> Total medicines </h6>
                </a>
            </div>
        </div>
        <!-- Column -->
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card card-hover">
                <a href="category" class="box bg-info text-center waves-effect waves-dark">
                    <h1 class="text-white">
                        {{ category_count }} <i class="mdi mdi-clipboard-list"></i>
                    </h1>
                    <h6 class="text-white"> Medicine categories </h6>
                </a>
            </div>
        </div>

        {% if user.is_superuser %}
        <!-- Column -->
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card card-hover">
                <a href="users" class="box bg-info text-center waves-effect waves-dark">
                    <h1 class="text-white">
                        {{ user_count }} <i class="mdi mdi-account-group"></i>
                    </h1>
                    <h6 class="text-white"> Users </h6>
                </a>
            </div>
        </div>
        <!-- Column -->
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card card-hover">
                <a href="pharmacy" class="box bg-info text-center waves-effect waves-dark">
                    <h1 class="text-white">
                        <i class="mdi mdi-hospital-marker"></i>
                    </h1>
                    <h6 class="text-white"> The pharmacy </h6>
                </a>
            </div>
        </div>
        {% endif %}
        
        <!-- Column -->
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card card-hover">
                <div class="box btn bg-success text-center waves-effect waves-dark" data-bs-toggle="modal" data-bs-target="#help">
                    <h1 class="text-white">
                        <i class="mdi mdi-help-circle"></i>
                    </h1>
                    <h6 class="text-white"> Help.? </h6>
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Vertically centered modal 2 -->
        <div class="modal fade" id="help" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title font-bold" id="exampleModalLabel">Need help?? Here we go ...</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Get full documentation manual. This helps you understand how the system works. OR Have a
                        meeting with your siniar for your needs.
                    </div>
                    <div class="modal-footer">
                        <a href="../assets/GUIDE_DOCUMENTATION.pdf" download target="_blank" class="btn btn-primary waves-effect waves-light"> 
                            <i class="mdi mdi-download"></i> Download now 
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- ============================================================== -->
    <!-- End Contents -->
    <!-- ============================================================== -->
            
    <div id="sales-trand"></div> <!-- escaping nav-bar hiding the graph title -->
    <div class="dropdown-divider mb-5"></div>

    <!-- ============================================================== -->
    <!-- Charts -->
    <!-- ============================================================== -->
    <div class="row">
        <!-- ============================================================== -->
        <!-- Sales Trand Graph -->
        <!-- ============================================================== -->
        <div class="col-lg-7">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex">
                        <h4 class="card-title"><span class="lstick"></span> Sales trand </h4>
                    </div>
                    <div>
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Top sales -->
        <!-- ============================================================== -->
        <div class="col-lg-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><span class="lstick"></span> Top 5 sales</h4>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Qty sold</th>
                                <th>unit price (TZS)</th>
                                <th>Total (TZS)</th>
                            </tr>
                            </thead>
                            <tbody>

                                {% for instance in stock_values|slice:':5' %}
                                <tr>
                                    <td> {{ instance.name }} </td>
                                    <td> {{ instance.sold }} </td>
                                    <td> {{ instance.price }} </td>
                                    <td> {% widthratio instance.sold 1 instance.price %}</td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Charts -->
    <!-- ============================================================== -->
    {% endblock %}

    {% block 'addedScripts' %} 
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- <script src="{% static 'js/graph.js' %}"></script> -->
    <script>
        var ctx = document.getElementById("myChart").getContext("2d");

        // var gradient = ctx.crateLinearGradient(0, 0, 0, 400);
        // gradient.addColorStop(0, "rgba(58, 123, 213, 1)");
        // gradient.addColorStop(1, "rgba(0, 213, 255, 0.3)");
        var labels = {{ to_graph_trans_date|safe }};

        var data = {
        labels,
        datasets: [{
            label: 'Sales data',
            data: {{ to_graph_day_sales|safe }},
            fill: true,
            borderColor: 'rgb(75, 192, 192, 1)',
            backgroundColor: 'rgb(75, 192, 192, 0.1)',
            pointBackgroundColor: 'rgb(0, 0, 0, 0.5)',
            tension: 0.3
        }/*,{
            label: 'Purchases data',
            data: {{ to_graph_day_sales|safe }},
            fill: true,
            borderColor: 'rgb(13, 110, 253)',
            backgroundColor: 'rgb(13, 110, 253, 0.1)',
            pointBackgroundColor: 'rgb(0, 0, 0, 0.5)',
            tension: 0.3
        }*/]
        };

        var config = {
            type: 'line',
            data,
            options: {
            responsive: true,
            radius: 3,
            hitRadius: 5,
            hoverRadius: 7,
            scales: {
                y: {
                ticks: {
                    callback: function(value){
                    return "Tsh " + value;
                    }
                }
                }
            }
            }
        };

        var theChart = new Chart(ctx, config);
    </script>
    {% endblock %}