{% extends '../layout/base.html' %}
{% load static %}

{% block 'addedCSS' %} 
<link rel="stylesheet" href="{% static 'plugins/multicheck/multicheck.css' %}">
<link href="{% static 'plugins/DataTables/datatables.css' %}" rel="stylesheet">
{% endblock%} 

{% block 'preload' %} PMS {% endblock %}
    
{% block 'bigHead' %} Sales / <span style="color: #687384;"> Sell </span> {% endblock %}

{% block 'main' %}
<div class="row">
    {% if medicines_to_sell %}
    <form action="receipt" method="POST" name="cart">
        {% csrf_token %}
        <div class="card col-lg-10 shadow-sm">
            <div class="card-body text-center">
                <table id="table" class="table table-hover table-bordered table-responsive" name="cart">
                    <tr>
                        <th></th>
                        <th> Medicine </th>
                        <th> Qty </th>
                        <th> Price </th>
                        <th>&nbsp;</th>
                        <th> SubTotal</th>
                    </tr>
                
                    {% for instance in medicines_to_sell %}
                    <tr name="line_items" id="tr">
                        <td><button name="remove" class="btn btn-sm btn-danger"> <i class="mdi mdi-close-thick"></i> </button></td>
                        <td><input type="hidden" name="sell_item_id" value="{{ instance.id }}"> {{ instance.name }} </td>
                        <td><input type="number" name="qty" value="1" min="1" max="{{ instance.quantity }}"></td>
                        <td><input type="number" name="price" value="{{ instance.price }}" ></td>
                        <td>&nbsp;</td>
                        <td><input type="text" name="item_total" value="" jautocalc="{qty} * {price}" readonly="readonly" _jautocalc="_jautocalc" disabled></td>
                    </tr>
                    {% endfor %}

                    <tr>
                        <td colspan="3">&nbsp;</td>
                        <td> Total </td>
                        <td>&nbsp;</td>
                        <td><input type="text" name="total" value="" jautocalc="SUM({item_total})" readonly="readonly" _jautocalc="_jautocalc"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="card col-lg-8 shadow-sm">
            <div class="card-body">
                <div class="form-group ">
                    <label for="name"> Customer name </label>
                    <input type="text" name="customer_name" class="form-control w-50" placeholder="(Optional)" id="name">
                </div>
                <div class="form-group">
                    <label for="phone"> Phone No: </label>
                    <input type="text" name="customer_tel" class="form-control phone-inputmask w-50" placeholder="(Optional)" id="phone"/>
                </div>
            </div>
        </div>
        <div class="card col-lg-8 shadow-sm">
            <div class="card-body">
                <button type="submit" id="generate-bill" class="btn btn-primary waves-effect waves-light float-end" onclick="return confirm('DATA WILL BE SAVED TO SALES RECORDS.')"> <i class="mdi mdi-bookmark-check mdi-18px"></i> Generate Bill </button>
            </div>
        </div>
    </form>
    {% else %}
    <div class="card col-lg-10 shadow-sm">
        <div class="card-body text-center">
            Select some medicine to sell from <a href="stock"> >> here << </a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock%} 

{% block 'addedScripts' %}  
<script src="{% static 'plugins/multicheck/datatable-checkbox-init.js' %}"></script>
<script src="{% static 'plugins/multicheck/jquery.multicheck.js' %}"></script>
<!-- Data table -->
<script src="{% static 'plugins/DataTables/datatables.js' %}"></script>
<script>    $("#zero_config").DataTable();    </script>
<!-- input mask control -->
<script src="{% static 'plugins/inputmask/jquery.inputmask.bundle.js' %}"></script>
<script src="{% static 'js/inputmask.js' %}"></script>

<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<script src="{% static 'plugins/jautocalc.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {

        function autoCalcSetup() {
            $('form[name=cart]').jAutoCalc('destroy');
            $('form[name=cart] tr[name=line_items]').jAutoCalc({keyEventsFire: true, decimalPlaces: 2, emptyAsZero: true});
            $('form[name=cart]').jAutoCalc({decimalPlaces: 2});
        }
        autoCalcSetup();

        $('button[name=remove]').click(function(e) {
            e.preventDefault();

            var form = $(this).parents('form')
            $(this).parents('tr').remove();
            autoCalcSetup();
        });
    });

    $(function(){
        setInterval(function(){
            var rowCount = $('#table tbody #tr').length;
            if(rowCount < 1){
                console.log(rowCount);
                $('#generate-bill').attr('disabled', true);
            }else{
                $('#generate-bill').removeAttr('disabled', false);
            }
        }, 1000)
        
    });
</script>
{% endblock%}