<!DOCTYPE html>
<html dir="ltr">
{% load static %}

<head>
    {% include 'layout/head.html' %}
</head>

<body>
	<div class="main-wrapper">
		<!-- ============================================================== -->
		<!-- Preloader - style you can find in spinners.css -->
		<!-- ============================================================== -->
		<div class="preloader">
			<div class="lds-ripple">
			<div class="lds-pos"></div>
			<div class="lds-pos"></div>
			</div>
		</div>
		<!-- ============================================================== -->
		<!-- Preloader - style you can find in spinners.css -->
		<!-- ============================================================== -->

		<!-- ============================================================== -->
		<!-- Login box -->
		<!-- ============================================================== -->
		<div class="d-flex no-block justify-content-center align-items-center">
			<div>

				<div class="text-center pt-4 pb-4">
					<span class="db"><img src="{% static 'assets/pms-logo.jpg' %}" width="170"/></span>
				</div>
				
				<form id="recoverform" action="">
					<div class="row">
						<div class="col-12">
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text bg-warning text-white h-100"><i class="mdi mdi-lock mdi-24px"></i></span>
								</div>
								<input type="password" class="form-control form-control-lg" placeholder="New password" required=""/>
							</div>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text bg-warning text-white h-100"><i class="mdi mdi-lock mdi-24px"></i></span>
								</div>
								<input type="password" class="form-control form-control-lg" placeholder="Repeat new password" required=""/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<div class="form-group">
								<button class="btn btn-success float-end text-white" type="submit"> <i class="mdi mdi-check mdi-18px"></i> Done </button>
							</div>
						</div>
					</div>
				</form>
				
			</div>
		</div>
		<!-- ============================================================== -->
		<!-- Login box -->
		<!-- ============================================================== -->
    </div> 
    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
	{% include 'layout/scripts.html' %}
</body>
</html>
